<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <title>时间轴</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mine.css">

</head>
<body>

    <!--导航-->
    <nav th:fragment="menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui white header item"><a href="#" th:href="@{/admin}" class="m-item item submit m-mobile-hidden">iNoteBlog</a></h2>
                <a href="#" th:href="@{/}" class="m-item item m-mobile-hidden"><i class="mini home icon"></i>&nbsp;&nbsp;首页</a>
                <a href="#" th:href="@{/type/0}" class="m-item item m-mobile-hidden"><i class="mini idea icon"></i>&nbsp;分类</a>
                <a href="#" th:href="@{/tag/0}" class="m-item item m-mobile-hidden"><i class="mini tags icon"></i>&nbsp;&nbsp;&nbsp;标签</a>
                <a href="#" th:href="@{/archive}" class="m-item item m-mobile-hidden"><i class="mini clone icon"></i>&nbsp;&nbsp;时间轴</a>
                <a href="#" th:href="@{/about}" class="m-item item m-mobile-hidden"><i class="mini info icon"></i>关于我</a>
                <div name="search" class="right m-item item m-mobile-hidden" target="_blank">
                    <form action="#" th:action="@{/search}">
                        <div class="ui icon inverted transparent input m-margin-tb-tiny">
                            <input type="text" name="query" placeholder="Search...">
                            <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
       <div class="ui container">
           <!--header-->
           <div class="ui top attached segment">
               <div class="ui middle aligned two column grid">
                   <div class="column">
                       <h3 class="ui teal header">时间轴</h3>
                   </div>
                   <div class="right aligned column">
                       共&nbsp;<h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCounts}">博客数目</h2>&nbsp;篇
                   </div>
               </div>
           </div>

           <th:block th:each="item : ${archiveMap}">
               <h2 class="ui center aligned header" th:text="${item.key}">时间year</h2>
               <div class="ui fluid attached vertical menu">
                   <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${item.value}">
                       <span>
                           <i class="mini teal circle icon"></i><span th:text="' '+${blog.title}">文章标题</span>&nbsp;
                           <!--<div class="ui teal basic left pointing label m-padded-tb-mini" th:text="${#dates.format(blog.updateTime, 'MMMddd')}">更新时间</div>-->
                           <div class="mini ui teal basic left pointing label m-padded-tb-mini" th:text="${#dates.month(blog.updateTime)}+'月'+${#dates.day(blog.updateTime)}+'日'">更新时间</div>
                       </span>
                       <!--<div class="ui orange basic left pointing label m-padded-tb-mini" th:text="${blog.flag}">原创</div>-->
                       <th:block th:switch="${blog.flag}">
                           <div class="ui orange basic left pointing label m-padded-tb-mini" th:text="${blog.flag}" th:case="'原创'"></div>
                           <div class="ui violet basic left pointing label m-padded-tb-mini" th:text="${blog.flag}" th:case="'翻译'"></div>
                           <div class="ui green basic left pointing label m-padded-tb-mini" th:text="${blog.flag}" th:case="'转载'"></div>
                       </th:block>
                   </a>
               </div>
           </th:block>
       </div>
    </div>

    <!--底部-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.JPG" alt="" class="ui rounded image" style="width:110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">爱的故事(Love Story)</a>
                        <a href="#" class="item">爱的故事(Love Story)</a>
                        <a href="#" class="item">爱的故事(Love Story)</a>
                        <a href="#" class="item">爱的故事(Love Story)</a>
                    </div>
                </div>

                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">爱的故事(Love Story)</a>
                        <a href="#" class="item">爱的故事(Love Story)</a>
                        <a href="#" class="item">爱的故事(Love Story)</a>
                        <a href="#" class="item">爱的故事(Love Story)</a>
                    </div>
                </div>

                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">CampusAmour</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">冲鸭</p>
                </div>
            </div>
            <div class="ui inverted section divider">
                <br/><br/>
                <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 Blog Designed by CampusAmour</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hidden');
        });
    </script>

    <script>
        $('#recommend-blog-container').load(/*[[@{/recommend/blog}]]*/"/recommend/blog");
    </script>

</body>
</html>